# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
rx-scout-react/node_modules
rx-scout-react/.pnp
.pnp.js

# testing
rx-scout-react/coverage

# production
rx-scout-react/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
